@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');

body {
  font-weight: 300;
  font-family: "Raleway", Helvetica, sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}


.layout {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.home_team {
	margin-bottom: 10px;
}

.stats_font {
	font-weight: bold;
	margin-bottom: 10px;
  margin-top: 10px;
  font-size: 35px;
}



.firstteam {
  width: 30%;
  display:inline-block;
  
}

.datebox {
  width: 40%;
  display:inline-block;
  text-align:center;


}

.secondteam {
  width: 30%;
  display:inline-block;
  
}

.logo {
  width:200px;
  height:80px;
  margin-top: 10px;
}

.Home_Team {
  font-weight: 900;
  margin-bottom: 15px;
}


.Away_Team {
  font-weight: 900;
  margin-bottom: 15px;
}